<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <style>
      body {
        font-family: sans-serif
      }
    </style>

    <h1>¡Hola <%= @candidacy.name %>, gracias por postularte al Consejo Consultivo de Mujeres de Antioquia!</h1>

    <p>
     Tu candidatura ha sido registrada con éxito con el siguiente correo <%= @candidate.email %>.
    </p>
    <p>
    Si tienes alguna duda puedes escribirnos a politicaspublicasmujeres@antioquia.gov.co
    </p>

    <p>
      Cordialmente,
    </p>

    <p>
      Secretaría de las Mujeres de Antioquia
    </p>
  </body>
</html>

    <style>
      body {

      }
    </style>

