<%= link_to votation_sector_candidacies_path(sector), class: "text-decoration-none" do %>
  <div class="d-flex btn align-items-center btn-back">
    <%= image_tag "icons/FlechaAtras.svg", class: "back_arrow"%>
    <div class="pl-3">Volver a candidatas</div>
  </div>
<% end %>


