<%= link_to votation_sectors_path, class: "text-decoration-none" do %>
  <div class="d-flex btn align-items-center btn-back">
    <%= image_tag "icons/FlechaAtras.svg", class: "back_arrow"%>
    <div class="pl-3">Sectores</div>
  </div>
<% end %>


