<div class="container">
  <h1>Página de bienvenida</h1>
  <p>Texto con información de bienvenida</p>

  <%= link_to "Registrar candidatura", new_candidate_registration_path, class: "btn btn-primary" %>
</div>
