<div class="home-container p-1 mt-2">
  <div class="home-btn">
    <h1 class="text-center huge p-sm-4">
      Hemos registrado su voto satisfactoriamente
    </h1>
    <h3 class="text-center sub-huge mt-4">
      Gracias por hacer parte de la elección del Consejo Consultivo de Mujeres
    </h3>
    <h1 class="text-center mt-4 sub-huge">
      2020-2023
    </h3>
  </div>
</div>
